{% extends "basehead.html" %}
{% block content %}
  <center>
    <div class="container">
      <h2>Create Tasks Below</h2>
      <br>
      <form action="" method="post" name="submit">
      {{ form.hidden_tag() }}
     <p>
        {{ form.task_title(placeholder=" Enter A Name For The Task") }}
     </p>
     <p>
         {{ form.description(placeholder=" Enter A Description") }}
     </p>
        <input class="btn btn-default" type="submit" value="Submit">
      </form>
    </div>
    {% if result_message %}
    <br>
       <p class="result_message"> {{ result_message }} </p>
    </br>
    {% endif %}
    </center>
{% endblock %}