{% extends "basehead.html" %}
{% block content %}
<br>

<body>
<center>
<div style="float:right;">
    <img src="{{ asset.picture }}" width="408" height="306" hspace = "10" style="">
    <br>
    <div style="display:inline-block;">
        <form action="/assets/hotspare/{{ asset.asset_tag }}" method = "get" style="display:inline-block;">
            <input type="submit" class="btn btn-s btn-warning" value="Find Hot Spare" style="margin-top:10px;">
        </form>
        <form action="/assets/edit_asset/{{ asset.asset_tag }}" method = "get" style="display:inline-block;">
            <input type="submit" class="btn btn-s btn-info" value="Edit Asset" style="margin-top:10px;">  
        </form>
    </div>
</div>

    <div class = "table-responsive">
    
        <table class = "table table-bordered" style ="">
        <tr>
            <th>Asset Name</th>
            <th>Manufacturer</th>
            <th>Model Number</th>
            <th>Serial Number</th>
            <th>Status</th>
            <tr>
                <td>{{ asset.asset_tag }}</td>
                <td>{{ asset.manufacturer }}</td>
                <td>{{ asset.model_number}}</td>
                <td>{{ asset.serial }}</td>
                <td>{{ asset.status }}</td>
            </tr>
        </tr>
        </table>
        
        <table class = "table table-bordered" style ="">
        <tr>
            <th>Current (Amps)</th>
            <th>Frequency (Hz)</th>
            <th>Voltage</th>
            {% if asset.secondary_voltage %}
           <th>Secondary Voltage</th>
            {% else %}
            {% endif %}
            <tr>
                <td>{{ asset.current }}</td>
                <td>{{ asset.frequency }}</td>
                <td>{{ asset.voltage }}</td>
                {% if asset.secondary_voltage %}
                <td>{{ asset.secondary_voltage }}</td>
                {% else %}
                {% endif %}
            </tr>
        </tr>
        </table>
        <table class = "table table-bordered" style ="">
        <tr>
            <th>Power Factor</th>
            <th>Efficiency (%)</th>
            <th>Horsepower</th>
            <th>RPM</th>
            <tr>
                <td>{{ asset.power_factor }}</td>
                <td>{{ asset.efficiency }}</td>
                <td>{{ asset.horsepower }}</td>
                <td>{{ asset.rpm }}</td>
            </tr>
        </tr>
        </table>
        
        <table class = "table table-bordered" style ="">
        <tr>
            <th>Design</th>
            <th>Frame</th>
            <th>Enclosure</th>
            <th>Location</th>
            <tr>
                <td>{{ asset.design }}</td>
                <td>{{ asset.frame }}</td>
                <td>{{ asset.enclosure }}</td>
                <td>{{ asset.location }}</td>
            </tr>
        </table>
        
    </div>
        
        <table class = "table table-bordered" style ="">
        <tr>
        <th>Attachments</th>
        <tr>
            <td>{{ asset.attachments }}</td>
        </tr>
        </table>
    
        <table class = "table" style ="">
        <tr>
        <th>Task History</th>
        <tr>{% for i in asset.tasks %}
		<td> {{ i.task_title }} </td>
		<td> {{ i.description }} </td>
        </tr>{% endfor %}
        </table>
        
        <table class = "table" style ="">
        <tr>
        <th>Maintenance History</th>
        <tr>
            <td> None </td>
        </tr>
        </table>
    
</center>
</body>

{% endblock %}