{% extends "basehead.html" %}
{% block content %}

<center>
{% if results %}
<h3>Search Results</h3>
<table>
<th> </th>
<th>Asset Tag</th>
<th>Horsepower</th>
    <tr>
        <td>
        <form action="{{ url_for('assets.delasset') }}" method="post">
        <input type="hidden" name="delete" value="{{ results.asset_tag }}"/>
        <input type="submit" class="btn btn-xs btn-danger" value="Delete"/>
        </form>
        </td>
        <td>{{ results.asset_tag }}</td>
        <td>{{ results.horsepower }}</td>
    </tr>
{% endif %}
</table>
</center>

{% endblock %}