{% extends "basehead.html" %}
{% block content %}
  <center>
    <div class="container">
      <h2>Submit Asset Attributes Below</h2>
      <br>
      <form action="" method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
     <p>Status : 
         {{ form.status }}
     </p>
      <p>
        {{ form.asset_tag(placeholder=" Enter Asset Tag") }}
     </p>
      <p>
        {{ form.serial(placeholder=" Enter Serial") }}
     </p>
     <p>
        {{ form.manufacturer(placeholder=" Enter Manufacturer") }}
     </p>
     <p>
        {{ form.model_number(placeholder=" Enter Model No.") }}
     </p>
     <p>
        {{ form.current(placeholder=" Enter Current") }}
     </p>
     <p>
        Frequency: {{ form.frequency }}
     </p>
      <p>
         Voltage: {{ form.voltage }}
     </p>
     <p>
         {{ form.secondary_voltage(placeholder=" Enter Secondary Voltage") }}
     </p>
     <p>
         {{ form.power_factor(placeholder=" Enter Power Factor") }}
     </p>
     <p>
         {{ form.efficiency(placeholder=" Enter Efficiency") }}
     </p>
     <p>
         {{ form.horsepower(placeholder=" Enter Horsepower") }}
     </p>
      <p>
         RPM: {{ form.rpm }}
     </p>
      <p>
         Design: {{ form.design }}
     </p>
      <p>
         {{ form.frame(placeholder=" Enter Frame") }}
     </p>
      <p>
         Enclosure: {{ form.enclosure }}
     </p>
      <p>
         {{ form.location(placeholder=" Enter Location") }}
     </p>
     <p>
         {{ form.attachments(cols="60", rows="5", placeholder=" Enter all info pertaining to each attachment (if any) on this asset.") }}
     </p>
     <p>
         {{ form.picture }}
     </p>
        <input class="btn btn-default" type="submit" value="Submit">
      </form>
      {% if result_message %}
      <br>
        <p class="result_message"> {{ result_message }} </p>
      </br>
      {% endif %}
    </div>
    </center>
{% endblock %}
    


