{% extends "basehead.html" %}
{% block content %}
<center>
<br>
</br>
<table class="table table-striped table-bordered">
<th>Action</th>
<th>Asset Tag</th>
<th>Manufacturer</th>
<th>Model No.</th>
<th>Current</th>
<th>Voltage</th>
<th>HP</th>
<th>RPM</th>
<th>Frame</th>
<th>Enclosure</th>
<th>Attachments</th>
<th>Submitted By</th>
<th>Date Created</th>
{% for asset in assets %}
    <tr>
        <td>
        <form action="{{ url_for('assets.delasset') }}" method="post">
        <input type="hidden" name="delete" value="{{ asset.asset_tag }}"/>
        <input type="submit" class="btn btn-xs btn-danger" value="Delete"/>
        </form>
        <br>
        <form action="{{ asset.asset_tag }}" method="get">
        <input type="submit" class="btn btn-xs btn-info" value="Profile"/>
        </form>
        </td>
        <td>{{ asset.asset_tag }}</td>
        <td>{{ asset.manufacturer }}</td>
        <td>{{ asset.model_number }}</td>
        <td>{{ asset.current }}</td>
        <td>{{ asset.voltage }}</td>
        <td>{{ asset.horsepower }}</td>
        <td>{{ asset.rpm }}</td>
        <td>{{ asset.frame }}</td>
        <td>{{ asset.enclosure }}</td>
        <td>{{ asset.attachments }}</td>
        <td>{{ asset.added_by }}</td>
        <td>{{ asset.pub_date }}</td>
    </tr>
{% endfor %}
</table>
</center>

{% endblock %}